.footer {
    padding: 3vw;
    background-color: black;
    display: flex;
    justify-content: space-around;
    p {
        color: #FFF;
        line-height: 2vw;
        font-size: 1vw;
    }
    img {
        height: 3vw;
    }
    a {
        text-decoration: none;
        color: #FFF;
    }
}